
<div class="banner-recipe" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path (@recipe.photo) %>')">
  <%= link_to recipes_path(category: @recipe.category.name), class:"arrow"  do %>
  <i class="fas fa-chevron-left"></i>
  <% end %>
  <div class="banner-content">
    <h1><%= @recipe.name %></h1>
  </div>
</div>

<div id="recipe-content">
<div class="row">
  <div class="col-xs-4 recipe-icons" id="clock">
    <i class="far fa-clock"> <p id> <%= @recipe.cooking_time + @recipe.prep_time %> min</p></i>

  </div>
  <div class="col-xs-4 recipe-icons">
    <%= link_to recipe_favorites_path(@recipe), method: :post do %>
    <i class="far fa-heart"></i>
    <% end %>
  </div>
  <div class="col-xs-4 recipe-icons">
    <%= link_to recipe_carts_path(@recipe), method: :post do %>
    <i class="fas fa-cart-plus"></i>
    <% end %>
  </div>
</div>

 <div class="recipe-show-title"> </div>
<div class="tools">
  <%#= Recipe.first.steps.first.step_tools.first.tool.name %>
  <% unique_array = [] %>
  <% @recipe.steps.each do |step| %>
    <% step.step_tools.each do |steptool| %>
      <% unique_array << steptool.tool.icon  %>
    <% end %>
  <% end %>
      <% unique_array.uniq.each do |tn| %>
        <%= image_tag(tn) %>
  <% end %>
</div>

<div class="recipe-show-title"><h3>    Ingredients:</h3></div>
<div class="row ">
  <%#= Recipe.first.doses.first.ingredient %>
  <%#= Recipe.first.doses.first.quantity %>
  <%#= Recipe.first.doses.first.unit %>
  <% @recipe.doses.each do |dose| %>
  <div class="col-xs-5 col-xs-offset-1" id="ingredient-det">
    <i class="fas fa-caret-right"></i>
    <%= dose.ingredient %> -
    <%= dose.quantity %>
    <%= dose.unit %>
  </div>
  <% end %>
</div>

  <div class="text-center cook-btn-bottom" id="cook-btn" >
    <%= link_to recipe_steps_path(@recipe), class:"btn btn-primary" do %>
    Start Cooking!
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $(".navbar").hide();
    var lastScrollTop = 0;
    $(window).scroll(function() {
      if($(window).scrollTop() > ($(document).find('h3:contains("Ingredients")')[0].scrollHeight)) {
        $('.navbar').show();
      }
   var st = $(this).scrollTop();
   if (st < lastScrollTop) {
    $(".navbar").hide();
   };
   lastScrollTop = st;
    });
})
</script>

