
<div class="banner-recipe" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path (@recipe.photo) %>')">
  <%= link_to recipes_path(category: @recipe.category.name), class:"arrow"  do %>
  <i class="fas fa-chevron-left"></i>
  <% end %>
  <div class="banner-content">
    <h1><%= @recipe.name %></h1>
  </div>
</div>

<div class="recipe-icons">
  <div>
    <i class="far fa-clock"></i>
    <%= @recipe.cooking_time + @recipe.prep_time %> min
  </div>
  <div>
    <%= link_to recipe_carts_path(@recipe), method: :post do %>
    <i class="fas fa-cart-plus"></i>
    <% end %>
  </div>
</div>

<div class="tools">
  <%#= Recipe.first.steps.first.step_tools.first.tool.name %>
  <% unique_array = [] %>
  <% @recipe.steps.each do |step| %>
    <% step.step_tools.each do |steptool| %>
      <% unique_array << steptool.tool.name  %>
    <% end %>
    <% end %>
      <% unique_array.uniq.each do |tn| %>
        <%= image_tag(tn) %>
  <% end %>
</div>


<div class="row floating-box">
  <%#= Recipe.first.doses.first.ingredient %>
  <%#= Recipe.first.doses.first.quantity %>
  <%#= Recipe.first.doses.first.unit %>
  <% @recipe.doses.each do |dose| %>
  <div class="ingredients-details col-xs-6" id="ingredient-det">
    <i class="fas fa-caret-right"></i>
    <%= dose.ingredient %> -
    <%= dose.quantity %>
    <%= dose.unit %>
  </div>
  <% end %>
</div>

<br>
<div class="text-center" id="cook-btn" >
  <%= link_to recipe_steps_path(@recipe), class:"btn btn-primary" do %>
  Start Cooking!
  <% end %>
</div>




