
<%= link_to recipe_path(@steps.first.recipe), class:"arrow-black"  do %>
<i class="fas fa-chevron-left"></i>
<% end %>
<br>
<div class="container" id="step">
  <h1 class="text-center"><%= @recipe.name %></h1>
  <div class="recipe-time">
    <i class="far fa-clock"></i>
    <% sum_time = @recipe.prep_time + @recipe.cooking_time %>
    <%= sum_time %> min
  </div>
  <div class="row">
    <% @steps.each do |step| %>
    <div class="wrappe-step" style="height: 100vh;" id='step-<%= step.id %>'>
    <div class="card-step" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path step.photo %>')";>
    </div>
    <div class="complete-step-without-picture">
      <%# use the complete-step-without-picture class for the padding  %>

      <div class="step-time">
        <i class="far fa-clock"></i>
        <%= step.step_time %> min
        <% step.tools.each do |tool| %>
        <%= image_tag(tool.icon) %>
        <% end %>
      </div>

      <div class="step-details">

        <div class="doses-details">
          <% step.doses.each do |dose| %>
          <div id="ingredient-details">
            <i class="fas fa-caret-right"></i>
            <%= dose.ingredient %> -
            <%= dose.quantity %>
            <%= dose.unit %>
          </div>
          <% end %>
        </div>
      </div>



      <div class="step-description">
        <p> <%= step.description %></p>
      </div>
    </div>
    <% if step.id < @steps.count %>
    <div class="text-center" id="step-btn" >
      <a href="#step-<%= (step.id + 1) %>" class="btn btn-primary" >
      Next step </a>
    </div>
    <% else  %>
    <div class="text-center" id="step-btn" >
      <a href="#" class="btn btn-primary" >
      One step closer to being a great chef! <br><i class="fas fa-check"></i> </a>
    </div>
    <% end %>
    </div>
    <% end %>


  </div>
</div>
