<div class="home_container">
  <div class="row">
    <div class="col-md-12">
      <div id="carousel-example-generic" class="carousel slide carouse-fade" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class=" imageee hidden-xs hidden-sm">
              <%= image_tag ("Asian.jpg") %>
              <div class="carousel-caption">
                <h1>Welcome To ChefToGo</h1>
                <p>Head to the Restaurant page for more info</p>
              </div>
            </div>
            <div class="hidden-md hidden-lg">
              <%= image_tag ("food_iphone_size.jpg") %>
              <div class="carousel-caption">
                <h1>Welcome To ChefToGo</h1>
                <p>Head to the Restaurant page for more info</p>
              </div>
            </div>
          </div>
          <div class="item">
           <div class="hidden-xs hidden-sm">
            <%= image_tag ("Asian.jpg") %>
            <div class="carousel-caption">
              <h1>Welcome To ChefToGo</h1>
              <p>Head to the Restaurant page for more info</p>
            </div>
          </div>
          <div class="hidden-md hidden-lg">
            <%= image_tag ("food_iphone_size.jpg") %>
            <div class="carousel-caption">
              <h1>Welcome To ChefToGo</h1>
              <p>Head to the Restaurant page for more info</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="hidden-xs hidden-sm">
            <%= image_tag ("Asian.jpg") %>
            <div class="carousel-caption">
              <h1>Welcome To ChefToGo</h1>
              <p>Head to the Restaurant page for more info</p>
            </div>
          </div>
          <div class="hidden-md hidden-lg">
            <%= image_tag ("food_iphone_size.jpg") %>
            <div class="carousel-caption">
              <h1>Welcome To ChefToGo</h1>
              <p>Head to the Restaurant page for more info</p>
            </div>
          </div>
        </div>
      </div>

      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
</div>

<span class="text-center"> <h1>Choose a Category</h1> </span>


<% @categories.each do |category| %>
<%= link_to recipes_path(category: category.name) do  %>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path category.photo %>')">
      <%= category.name  %>
    </div>
  </div>
</div>
<% end %>
<% end %>





